.jumbotron {
    background: $jumbotronBackgroundColor;
    color: #fff;
}

.search-bar {
    text-transform: uppercase;
    padding: 15px;
    font-weight: 600;
    font-size: 1.25em;
    background-color: #fff;

    &::placeholder {
        color: #f3f3f3;
        opacity: 1;
    }
}


.search-btn {
    font-weight: 700;
    padding: 9px;
}

.result-message {
    color: #dedede;
    text-align: center;
    padding-top: 20px;
}

.result-card-body {
    min-height: 200px;
    width: 100%;
}


.keyword-text {
    font-size: 1.90em;
    font-weight: 700;
    text-transform: uppercase;
}


.synonym-text {
    font-weight: 600;
    text-transform: uppercase;
    color: $synonymWordColor;
    cursor: pointer;

    &:hover {
        color: $jumbotronBackgroundColor
    }
}